Práctica 4/resultados.csv
Práctica 4/YOLO/resultados.avi
Práctica 4/YOLO/C0142.MP4
Práctica 5/Material P5/shape_predictor_5_face_landmarks.dat
Práctica 5/Material P5/shape_predictor_68_face_landmarks.dat
Práctica 5/Material P5/__pycache__/FaceDetectors.cpython-311.pyc
Práctica 5/Material P5/__pycache__/FaceNormalizationUtils.cpython-311.pyc
